<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron mb-0">
            <h1 class="display-4">Novo pedido</h1>
        </div>
        <div class="card mt-3">
            <form th:object="${requisicaoNovoPedido}" action="novo" method="POST" class="card-body">
                <div class="form-group">
                    <label for="nomeProduto">Produto</label>
                    <input th:field="*{nomeProduto}" class="form-control" placeholder="Nome do produto.">
                    <small>Informe qual o nome do produto.</small>
                </div>
                <div class="form-group">
                    <label for="urlProduto">Url</label>
                    <input th:field="*{urlProduto}" class="form-control" placeholder="URL do produto.">
                    <small>Procure em um site o produto que você deseja e cole a URL da página aqui.</small>
                </div>
                <div class="form-group">
                    <label for="urlImagem">Imagem</label>
                    <input th:field="*{urlImagem}" class="form-control" placeholder="URL da imagem.">
                    <small>Copie a URL de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
                </div>
                <div class="form-group">
                    <label for="descricao">Produto</label>
                    <textarea th:field="*{descricao}" class="form-control" placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>    
</body>
</html>